/* alerts tag */
.rl-alerts-tag {
	float: right;
	width: 0;
	height: 0;
	line-height: 35px;
	text-indent: -.15em;
	color: #000;
	font-size: 16px;
	font-family: helvetica, arial, sans-serif;
	text-shadow: none;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	border-style: solid;
	border-width: 0 12px 26px;
	border-color: #f3d700 transparent;
	opacity: 0;
	transition: opacity .5s;
	cursor: pointer;
}

.rl-alerts-hidden .rl-alerts-tag {
	opacity: 1;
	transition: opacity .5s;
}

.rl-alerts-tag-total {
	font-size: 9px;
	position: absolute;
	top: 2px;
	right: -15px;
	background: #000;
	border-radius: 100%;
	height: 13px;
	width: 13px;
	color: #fff;
	text-align: center;
	line-height: 12px;
	text-indent: 0;
	font-weight: 400;
	border: 1px solid;
}

/* alerts html */
.rl-alerts {
	background: #fa9632;
	color: #fff;
	max-height: 0;
	overflow: hidden;
	position: relative;
	margin-top: -1px;
}

.rl-alerts-visible .rl-alerts {
	max-height: 500px;
	transition: max-height 1s linear;
}

.rl-alerts-wrapper {
	overflow: hidden;
	font-size: 16px;
	padding: 20px 60px 3px 0;
}

.rl-alerts a {
	text-decoration: underline;
	color: inherit;
}

.rl-alerts a:hover {
	text-decoration: none;
	color: inherit;
}

.rl-alerts-close {
	display: block;
	padding: 5px;
	right: 25px;
	font-size: 50px;
	line-height: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	text-align: center;
}

.rl-alerts-close:hover {
	color: #fff;
}

.rl-alerts-close-text {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}